.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.remake/
.spyproject/

*.zip
*/tmp/*
*/in/*
*/sens/*

*.Feather
*.feather
*.rds
*.Rds

20190913_Delaware_streamtemp/*
20191002_Delaware_streamtemp/*
20191002_Delaware_streamtemp_orig/*
prms_sntemp/20191002_Delaware_streamtemp/*


!data_for_Xiaowei/network_full.rds
!data_for_Xiaowei/network_subset.rds
!2_1_model_fabric/in/network_full.rds
!2_1_model_fabric/in/network_subset.rds
